@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body, ul, header, footer, section, article, ul, li, a, span, nav, h1, h2, h3, div, img {
    box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #292e27;
  margin: 0 auto;
  line-height: 24px;
}

h1{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.button{
  background: #d78519;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 7px;
  width: 50%;
  height: 45px;
  line-height: 45px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  color: #292e27;
  font-weight: 700;
  margin-top: 30px;
}

.button:hover{
  background: #e98500;
}

span{
  font-weight: bold;
}

/* Logo + Top Nav */

.logo{
  height: 42px;
}

.topnav, .logo{
display: inline-block;
}

.topnav{
  float: right;

}


body header .topnav ul li{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 16px;
  transition: padding-left 0.5s;
}

body header .topnav ul li:hover{
  cursor: pointer;
  padding-left: 20px;
  color:#000;
  font-weight: 700;
}

body header .topnav ul li:last-child{
  font-family: "Roboto Condensed", sans-serif;
  background: #d78519;
  font-weight: 700;
  padding: 0 25px;
  border-radius: 7px;
  vertical-align: middle;
}

body header .topnav ul li:last-child:hover{
    background: #e98500;
    color: #fff;
}

body header .topnav ul li a{
  text-decoration: none;
  color: #292e27;
}

/* Footer*/
footer{
  background: #292E27;
  height: auto;
}

footer h1{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 40px;
}

.wrapper-footer{
  max-width: 1600px;
  padding: 50px 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.footnav ul li{
  list-style-type: none;
  font-weight: lighter;
  font-size: 16px;
  height: 40px;

}


.footnav ul li a{
  text-decoration: none;
  color: #fff;

}

.footnav ul li a:hover {
  color: #D78519;
  cursor: pointer;
}

.zombunify p{
  color: #fff;
  margin-bottom: 40px;
}

h6{
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
}

.zombuni-socials ul li{
  float: left;
  margin-right: 18px;
  list-style-type: none;
  display: list-item;
}

.zombuni-socials ul li a{
  color: #fff;
  font-size: 23px;
}

.zombuni-socials ul li a:hover{
  color: #D78519;
  cursor: pointer;
}

.zombuni-socials h1{
  margin-bottom: 0;
  padding-bottom: 20px;
}



/* Copyright */
.wrapper-copyright{
  padding: 0 70px;
}
.copyright, .validation{
  background: #0E1613;
  height: 80px;
  line-height: 80px;
}

footer p{
  font-size: 13px;
}

.validation a{
  width: 20%;
  padding-top: 10px;

}

.validation{
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  flex-wrap: wrap;
}
