@media all and (max-width: 1024px){
  .wrapper-header, .wrapper-rocket, .wrapper-oferta, .wrapper-zanas, .wrapper-cable{
    padding: 50px 30px;}

  body header .topnav ul li{
    font-size: 15px;}

  .validation a{
    width: 30%;}
}

@media all and (max-width: 960px){
  .wrapper-header, .wrapper-rocket, .wrapper-oferta, .wrapper-zanas, .wrapper-cable{
    padding: 50px 20px;}

  body{
      line-height: 21px;}

  .txt{
      width: 40%;
      padding: 0 10px;}

  .pic{width: 55%;}

  body header .topnav{
    margin-top: 20px;
    padding-left: 30px;}

  body header button{
    display: block;}

  body header .topnav{
    display: none;}

  header .mobile-menu{
    display: block;}

  .validation{
    width: 44%;}

  .cable-txt, .cable-pic{
    width: 100%;
    align-items: center;}

  .cable-pic img{
    width: 100%;
    margin: 0;
    margin-bottom: 30px;}
}

@media all and (max-width: 760px){
  .wrapper-header, .wrapper-rocket, .wrapper-oferta, .wrapper-zanas, .wrapper-cable, .wrapper-footer{
    padding: 50px 30px;}

  body{
  line-height: 19px;
  font-size: 15px; }

  h1{
    font-size: 24px;}

  .intro-txt h1{
      margin-top: 50px;}

  .home-header-button, .button{
    font-size: 18px;}

  .wrapper-copyright{
    display: block;
    text-align: center;}

  .wrapper-copyright p{
    font-size: 13px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;}

  .validation{
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;  }

  .validation a{
    width: 20%;}

  .intro-pic img, .rocket-pic img, .oferta-pic img, .zanas-pic img{
    height: auto;}
}

@media all and (max-width: 640px){

  .wrapper-header, .wrapper-rocket, .wrapper-oferta, .wrapper-zanas, .wrapper-cable, .wrapper-footer{
    padding: 50px 20px;}

.wrapper-rocket, .wrapper-copyright{
    display: block;}


  .pic, .txt{width: 100%;}

  .pic{padding: 30px;}


  .zanas-pic{ order: 1}
  .zanas-txt{ order: 2}

  .zombuni-socials h1{
    padding-top: 60px;}
  }

    .validation a{
      width: 30%;}
}
@media all and (max-width: 480px){
  .wrapper-header, .wrapper-rocket, .wrapper-oferta, .wrapper-zanas, .wrapper-cable, .wrapper-footer{
    padding: 50px 10px;}
}

.home-header-button, .button{
  font-size: 16px;}

.logo{height: 37px;}
}

@media all and (max-width: 320px){

  .validation a{
    width: 60%;}

  .rocket-txt img{
    height: 30px;
    width: 100%}

  .pic{padding: 0;}

  .txt{padding-top: 40px;}}

  .logo{width: 200px;}

  header .mobile-menu{
    font-size: 30px;
    right: 10px;
  }


}
